@define-color theme_bg #282828;
@define-color theme_fg #ebdbb2;
@define-color theme_accent #d3869b;  /* Purple */
@define-color theme_urgent #fb4934;  /* Bright Red */
@define-color theme_inactive #504945; /* Dark2 / Gray */
@define-color light-blue #83a598;    /* Bright Blue */
@define-color blue #458588;          /* Neutral Blue */

* {
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", "JetBrainsMono Nerd Font Mono", monospace;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

#mpd {
    background-color: #b8bb26; /* Green */
    color: #282828;
}

#mpd.disconnected {
    background-color: #fb4934; /* Bright Red */
}

#mpd.stopped {
    background-color: #7c6f64; /* Dark4 */
}

#mpd.paused {
    background-color: #98971a; /* Neutral Green */
}

#tray {
    margin-left: 10px;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @theme_urgent;
}

#waybar {
  background-color: @theme_bg;
  color: @theme_fg;
  /* border-bottom: 2px solid @theme_accent; */
}

/* Tamanho da fonte por monitor */
#waybar.HDMI-A-1 { font-size: 14px; }
#waybar.eDP-1 { font-size: 16px; }

/* Margens entre os módulos */
#cpu, #memory, #disk, #pulseaudio, #network, #battery, #custom-power {
  margin: 0 1px;
  padding: 0 3px;
}

#workspaces button {
  padding: 0 2px;
  /* color: @light-blue; */
  color: @theme_fg;
}

#workspaces button.focused {
  color: #fabd2f;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
}

#battery.warning { color: #fabd2f; }  /* Yellow */
#battery.critical { color: #fb4934; } /* Red */
#custom-power { color: #fb4934; }     /* Red */
