@define-color theme_bg #1e1e2e;
@define-color theme_fg #cdd6f4;
@define-color theme_accent #f5c2e7;
@define-color theme_urgent #f38ba8;
@define-color theme_inactive #313244;
@define-color light-blue #b3befe;
@define-color blue #89b4fa;

* {
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", "JetBrainsMono Nerd Font Mono", monospace;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

#waybar {
  background-color: @theme_bg;
  color: @theme_fg;
}

#waybar.HDMI-A-1 { font-size: 14px; }
#waybar.eDP-1 { font-size: 16px; }

#workspaces button {
  padding: 0 2px;
  color: @light-blue;
}

#workspaces button.focused {
  color: @blue;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
}

#cpu, #memory, #disk, #pulseaudio, #network, #battery, #custom-power {
  padding: 0 10px;
  margin: 4px 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @theme_urgent;
}

#battery.warning { color: #f9e2af; }
#battery.critical { color: #f38ba8; }
#custom-power { color: #f38ba8; }
